<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body id="app">
    <nav class="py-2 bg-light border-bottom">
      <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
          <nav-link
            v-for="link in navLinks"
            v-bind:navlink="link"
            v-bind:key="link.link"
          />
        </ul>
        <ul class="nav" v-if="!user">
          <login-signup-buttons />
        </ul>
        <div v-else class="flex-shrink-0 dropdown">
          <profile :[a]="user" />
        </div>
        <!-- <div v-if="!user">heyyy</div>
        <div v-else>yo</div>
        <login-signup-buttons v-if="!user" />
        <login-signup-buttons v-else /> -->
      </div>
    </nav>
    <header class="py-3 mb-4 border-bottom">
      <div class="container d-flex flex-wrap justify-content-center">
        <a
          href="/"
          class="
            d-flex
            align-items-center
            mb-3 mb-lg-0
            me-lg-auto
            text-dark text-decoration-none
          "
        >
          <span class="fs-4">{{init}}</span>
        </a>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0">
          <input
            type="search"
            class="form-control"
            placeholder="Search..."
            aria-label="Search"
          />
        </form>
      </div>
    </header>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->

    <script src="https://unpkg.com/vue@next"></script>

    <script>
      const App = {
        data() {
          return {
            navLinks: [{ title: 'Home', link: '/' }],
            user: {
              username: 'Aldhan',
              points: 20,
              avatar: 'https://avatars.githubusercontent.com/u/67791514',
            },
            siteMetaData: {
              name: 'MTs TechnoNatura Forum',
            },
            a: 'user',
          };
        },
        methods: {
          newDiscussion() {
            alert('hey!');
          },
        },
        computed: {
          init() {
            return this.siteMetaData.name;
          },
        },
      };

      /*
{
              username: 'Aldhan',
              points: 20,
              avatar: 'https://avatars.githubusercontent.com/u/67791514',
            },
      */
      const app = Vue.createApp(App);

      app.component('nav-link', {
        props: ['navlink'],
        template: `<li class="nav-item">
            <a
              :href="navlink.link"
              class="nav-link link-dark px-2 active"
              aria-current="page"
              >{{navlink.title}}</a
            >
          </li>`,
      });

      app.component('login-signup-buttons', {
        template: `
          <li class="nav-item">
            <a href="#" class="nav-link link-dark px-2">Login</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link link-dark px-2">Sign up</a>
          </li>
        `,
      });

      app.component('profile', {
        props: {
          user: { username: String, avatar: String, points: Number },
        },
        template: `
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle show" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="true">
            <img :src="user.avatar" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small shadow show" aria-labelledby="dropdownUser2" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(-110px, 34px, 0px);" data-popper-placement="bottom-end">
            <li><a class="dropdown-item" href="#">New Discussion... </a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>`,
      });

      app.mount('#app');
    </script>
  </body>
</html>
