<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body id="app">
    <div class="container px-4 py-5" id="featured-3 ">
      <h2 class="pb-2">Todo App with Vuejs</h2>
      <form class="input-group flex-nowrap" @submit.prevent="onSubmit">
        <input
          type="text"
          class="form-control"
          placeholder="Add new Todo"
          aria-label="Username"
          aria-describedby="addon-wrapping"
          v-model="input"
        />
        <button type="submit" class="btn btn-primary btn-lg">Add</button>
      </form>
      <hr />

      <ul v-if="todos.length >= 1" class="list-group">
        <li class="list-group-item" v-for="todo in todos">
          <input
            class="form-check-input me-1"
            type="checkbox"
            value=""
            aria-label="..."
          />
          {{todo.text}}
        </li>
      </ul>
      <ul v-else class="list-group">
        No Data Available, create a new one!
      </ul>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->

    <script src="https://unpkg.com/vue@next"></script>

    <script>
      const App = {
        data() {
          return {
            input: '',
            todos: [],
          };
        },
        methods: {
          addTodo(e) {
            console.log(e);
          },
        },
      };

      Vue.createApp(App).mount('#app');
    </script>
  </body>
</html>
